.menu-link{
	font-family: 'Inter', sans-serif;
	font-style: bold;
	font-weight: 800;
	font-size: 16px;
	line-height: 120%;
	/* identical to box height, or 23px */

	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

body{
	background: #2E3756;
}

header{
	background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #6542C9 100%);
}

.McButton {
    margin-left: 15px;
    margin-top: -15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: relative;
}

.nav .McButton {
    position: absolute;
    top: 47px;
    left: 15px;
}

header .logo-wrap .logo {
	margin-top: 16px;
}

body .mainwrapper{
	background: url("../img/background.png") no-repeat center top; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.header-cta{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 8px;
	line-height: 143.7%;
	/* or 14px */
}

.home .hero-section {
	text-align: center;
}

.home .hero-section .container{
	display: inline-flex;
	flex-direction: row;
    align-items: flex-end;
}

.home .hero-section::after {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.home .hero-section__content {
	font-family: 'Port Lligat Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	/* or 178% */

	color: #C4C4C4;
	max-width: 50%;
	margin-bottom: 60px;	
}

.home .hero-section__content .content {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	/*font-size: 18px;*/
	font-size: 1.1250em;
	line-height: 32px;
	text-align: left;
	/* or 178% */


	color: #C4C4C4;
}

.home .hero-section__content .headline{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 158.7%;
	/* identical to box height, or 38px */

	letter-spacing: -0.03em;

	color: #FFFFFF;
}

.home .hero-section_buttons {
    /*position: absolute;
    bottom: 200px;
    right: 0;*/
	width: 50%;	
	display: inline-flex;
	justify-content: center;
	margin-bottom: 200px;
}

.home .hero-section_buttons .btn {
	background: rgba(19, 20, 24, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	border-radius: 8px;
	padding: 12px 0;
	margin: 10px 16px;
	width: 210px;
	cursor: pointer;
	pointer-events: auto;
	display: inline-flex;
	justify-content: center;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	color: #FFFFFF;
}

.btn img {
	padding-right: 16px;
}

.btn:hover {
  background-color: #6542C9;
}

.home .about-section .section-content {
	width: 100%;
	display: inline-block;
}

.home .about-section .section-content .headline .header-brands {
    transition: all 0.6s;
    height: auto;
    overflow: hidden;
    will-change: height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--gap);
}

.home .about-section .section-content .headline span {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	background: linear-gradient(270.17deg, #00EFA9 135.3%, #3F56F0 1258.28%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}


.home .about-section .section-content .headline .heading img {
    margin: auto;
    padding: var(--gap) 0 0 0;
}

.home .about-section .section-content .headline .heading img.img-mb {
	display: none;	
}

.home .about-section .section-content .headline .heading img.img-pc {
	display: block;
}


.home .about-section .section-content .headline .heading .img-underline {
	padding-bottom: 20px;	
}

.home .about-section .section-content .headline .heading.gradient-line {
    --width: 463px;
    --bottom: 0;
    --right: -60px;
}

.home .about-section .section-content .headline .heading {
    background: linear-gradient(180deg, #BE42C9 6.79%, rgba(0, 188, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: normal;
    margin: 0 auto;
}

.home .about-section .section-content .subtitle {
	max-width: 60%;;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 110%;
	/* or 44px */
	text-align: left;

	/* Base/Grey 0 */

	color: #FFFFFF;

	padding-top: 60px;
}

.home .about-section .section-content .content{
	float: left;
	margin: 30px 0;	
	max-width: 50%;
	text-align: left;
    padding: 0 15px;
    pointer-events: all;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */


	/* Base/Grey 20 */

	color: #E5E6ED;
}

.home .about-section .section-content .thumbnails{
	padding-left: var(--gap);
	max-width: 50%;
}

.home .about-section .section-content .content .sub-content{
	margin: 30px auto;
}

.home .about-section .section-content .content .sub-content img{
	width: 91px;
	height: auto;
	float: left;
}

.home .about-section .section-content .content .sub-content .intro{	
	display: flow-root;
	padding-left: 30px;
}

.home .about-section .section-content .content .sub-content .intro .title{	
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 150%;
	/* identical to box height, or 30px */


	/* Base/Grey 0 */

	color: #FFFFFF;
}

.home .about-section .slider-background {
	position: absolute;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;
}

.home .about-section .about-slider .container .v-menu {
	position: absolute;
	top: 50%;
	margin-top: -252px;
	z-index: 1000;
}

.home .about-section .about-slider .container .v-menu .v-menu-item {
	height: 70px;
	padding-bottom: 20px;
	margin: auto;
	display: table;
	opacity: 0.5;
}

.home .about-section .about-slider .container .v-menu .active {	
	opacity: 1;
}

.card {
	display: grid;
	/*width: 346px;
	height: 178px;*/
	text-align: left;
	padding: 5%;
	margin-bottom: 50px;
	color: #fff;
	box-sizing: border-box;
	background: rgba(47, 50, 65, 0.5);
	backdrop-filter: blur(4px);
	border-radius: 8px;
}

.card-line1{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.card-dot {
	height: 44px;
	width: 44px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.card-percent {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 27px;

    display: inline-flex;
    align-items: center;

	color: #11CABE;
}

.card-line2 {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding-top: 18px;

	color: #A5ADCF;
}

.card-line3{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-amount{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	text-align: left;

	color: #FFFFFF;
}

.card-unit{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	text-align: right;

	color: #5D6588;
}

.home .asset-card .slide-container {
    margin: auto;
    max-width: var(--container-width);
}

.home .asset-card .card-item .card-content {
	width: var(--card-content-width);
	height: var(--card-content-height);
}

.home .asset-card .card-item{
	--card-width: calc(var(--container-width)/4);
	--card-content-width: calc(var(--card-width) - 24px);
	--card-content-height: calc(var(--card-content-width) * (178/346));
    --pd-card-top: 90px;
    --content-padding: 15px;
    padding: var(--pd-card-top) 12px 40px;
    width: var(--card-width);
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}


.home .roadmap .slider:after {	
	content: 'flickity';
	display: none;
}

.home .road-map .container .headline span {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	background: linear-gradient(270.17deg, #00EFA9 135.3%, #3F56F0 1258.28%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.home .road-map .roadmap-item{
	--card-width: calc(var(--container-width)/4);
}

.home .road-map .slide-container {
	margin: auto;
	max-width: var(--container-width);
}

.home .road-map .slide-container .flickity-viewport {
    overflow: hidden;
    margin: auto;
}

.home .road-map .roadmap-title {
	background: url(../img/title-frame.svg) top left no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    display: block;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.085em;

	text-shadow: 0px 1.60579px 31px rgba(255, 255, 255, 0.66);
}

.home .road-map .overlay-hover-title:hover .roadmap-title {
	background: url(../img/title-frame-hover.svg) top left no-repeat;
    background-size: 100% 100%;
}

.home .road-map .roadmap-content {
	border: none;
	text-align: center;

	font-family: 'Poppins', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	color: #FFFFFF;
	letter-spacing: 1px

}

.home .road-map .roadmap-content img{
	margin: auto;
    padding: 20px 0;
    height: 160px;
}

.home .road-map .roadmap-content ul{
	text-align: left;
	padding-left: 40px;
	list-style: square;


	font-family: 'Poppins', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 15px;
	line-height: 150%;
	color: #FFFFFF;
	letter-spacing: 1px
}

/*===============mobile===================*/
.home .road-map .roadmap-mb {
	margin: 60px 0;
	display: none;
}

.home .road-map .roadmap-mb-dot{
    position: absolute;
	height: 10px;
	width: 10px;
	background-color: #6B89F3;
	border-radius: 50%;
	display: inline-block;
    left: -4px;
}

.home .road-map .dot-start{
}

.home .road-map .dot-end{	
    bottom: 0;
}

.home .road-map .roadmap-mb-line{
    height: 100%;
    width: 2px;
    background: linear-gradient(270.17deg, #00EFA9 135.3%, #3F56F0 1258.28%);
    opacity: 0.5;
    /* transform: rotate(90deg); */
    position: absolute;
    margin-left: 29px;
}

.home .road-map .roadmap-mb-item{
	width: 100%;
	margin: 15px 0;
    display: inline-flex;
    align-items: center;    
}

.home .road-map .roadmap-mb-title {
    width: 30%;
	padding: 20px;
    display: block;

	font-family: 'Inter', sans-serif;
	font-style: normal;   
	font-weight: 900;
    font-size: 30px;
	text-align: left;
	letter-spacing: 0.085em;

	background: linear-gradient(270.17deg, #00EFA9 135.3%, #3F56F0 1258.28%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.home .road-map .roadmap-mb-content {
	border: none;
	text-align: left;

	font-family: 'Poppins', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	color: #FFFFFF;
	letter-spacing: 1px

}

.home .road-map .roadmap-mb-item img{
    width: 60px;
}

.home .road-map .roadmap-mb-content ul{
	text-align: left;
	padding-left: 40px;
	list-style: square;


	font-family: 'Poppins', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 15px;
	line-height: 150%;
	color: #FFFFFF;
	letter-spacing: 1px
}

/*============================*/

.home .tokenomics-section .headline span {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	background: linear-gradient(270.17deg, #00EFA9 135.3%, #3F56F0 1258.28%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.home .team-section .headline{
	margin: auto;
	text-align: center;
}

.home .team-section .headline span {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	background: linear-gradient(270.17deg, #00EFA9 135.3%, #3F56F0 1258.28%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.home .team-section .headline .main-heading{
	margin-bottom: 0;
}


.home .team-section .headline .main-heading img {
    margin: auto;
}

.home .team-section .headline .sub-heading{
	margin-bottom: 40px;
}

.home .team-section .headline .sub-heading img {
	margin: auto;
}

.home .team-section .team__list {
	column-gap: 0;
	row-gap: 21px;
}

.home .team-section .team__list .item{
	padding: 16px;
}

.home .team-section .team__list .item__info {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 32px;
	text-align: left;
	/* identical to box height */


	/* Text/Inverse */

	color: #FFFFFF;

	padding-bottom: 0; 
}

.home .team-section .team__list .item__info .pos {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	/* identical to box height */


	/* hide */

	color: #777E90;
	padding-bottom: 92px;
}

.home .team-section .team__list .item:hover .item__info .pos .bodytext{
	opacity: 1;
}

.home .team-section .team__list .item__info a>img{
	margin: auto;
	padding-top: 64px;
}

.team-members .member{
	width: calc(100% / var(--columns-count) - 34px);
	margin-left: 17px;
	margin-right: 17px;
}


.home .advisors-section .team-members {
	--columns-count: 2;
	width: var(--container-width);
    margin: auto;
}

.team-members .member__img{
	padding-bottom: 0;
}

.team-members .member__img img{
    object-fit: cover;
}

.home .advisors-section .team-members .member{
	background: #2E2B32;
	border-radius: 24px;
	padding-bottom: 0;
}

.home .advisors-section .team-members .member:nth-child(1){
	margin-top: 0;
}

.home .advisors-section .team-members .member:nth-child(2){
	margin-top: 150px;
}

.home .advisors-section .team-members .member:nth-child(3){
	margin-top: -150px;
}

.home .advisors-section .team-members .member:nth-child(4){
	margin-top: 0;
}


.team-members .member__info2 {
    margin: 27px 23px;
    flex: 1;
    text-align: right;

}

.team-members .member__info2 .info-name{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 143.7%;
	/* or 34px */

	text-align: right;
	

	/* Text/Inverse */

	color: #FFFFFF;
}

.team-members .member__info2 .info-role{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 143.7%;
	/* identical to box height, or 23px */

	text-transform: uppercase;

	/* Text/Inverse */

	color: #FFFFFF;
	text-align: right;
}

.team-members .member__info2 .description{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 158.7%;
	/* or 22px */

	text-align: justify;
	letter-spacing: -0.03em;

	/* hide */
	float: right;
	color: #777E90;
	padding-top: 11px;
	width: 90%;
}




.team-members .member__info2 .text-content{

}

.home .advisors-section .main-heading.gradient-line {
	margin-bottom: 86px;
}

.home .partners-section .partners-list.--coming-soon .partner {
	text-align: left;
}

.home .partners-section .partners-list .partner img {
	float: left;
}

.home .partners-section .partners-list.--coming-soon .partner p {
    margin: 7px 0;
    padding-left: 90px;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 143.7%;
	/* or 34px */

	text-transform: uppercase;

	/* Text/Inverse */

	color: #FFFFFF;
}

.footer-title{
	text-transform: none;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 158.7%;
	/* identical to box height, or 38px */

	letter-spacing: -0.03em;

	/* Style */

	background: linear-gradient(270.17deg, #00EFA9 135.3%, #3F56F0 1258.28%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.footer .site-map__item a, .footer .contact-row a, .footer .contact-form-wrapper input {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	/* or 250% */

	display: flex;
	align-items: center;

	color: #FFFFFF;
}

.footer ul.social-links{
	display: inline-flex;
}

.footer ul.social-links li {
    margin: 0 20px;
}

.footer .copy-right {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 40px;
	/* or 333% */

	text-align: left;

	color: #FFFFFF;

}
header .header .menu .sub-menu .menu-item .menu-link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 10px;
    font-size: 12px;
}

header .header .menu-item .sub-menu {
    margin-left: -25px;
}


.home .hero-section__content .play-btn::after{
	left: 53%;
}

.home .about-section .slider .slider-item{
	width: calc(var(--height-img) * 3/4);
}

.home .about-section .slider {
	margin: auto;	
	width: calc(var(--height-img) * 10/4);
    --height-img: 150px;
    --slide-gap: 100px;
    --width-slide: calc(100vw - var(--slide-gap, 100px));
}

@media screen and (min-width: 576px){
	.home .about-section .slider {
	    --height-img: 200px;
	    --slide-gap: 166px;
	}

	.home .about-section .about-slider {
		height: 345px;
	}
}

@media screen and (min-width: 768px){
	.home .about-section .slider {
	    --height-img: 300px;
	    --width-slide: 52%;
	}

	.home .about-section .slider-image img{
		max-height: 100%;
	}

	.home .about-section .about-slider {
		height: 517px;
	}

	.home .hero-section__content .content{
		max-width: 100%;
	}
}

@media screen and (min-width: 992px){
	.home .about-section .slider {
	    --width-slide: 45%;
	    --h2-fs: 10rem;
	}

	.card-dot {
		width: 27px;
		height: 27px;
	}

	.card-percent{
		font-size: 11px;
	}

	.card-percent img{
		max-width: 13px;
		width: 13px;
	}

	.card-line2 {
		font-size: 10px;
		padding-top: 11px;
	}

	.card-amount {
		font-size: 14px;
	}

	.card-unit {
		font-size: 10px;
	}
}

@media screen and (min-width: 1200px){
	.card-dot {
		width: 34px;
		height: 34px;
	}

	.card-percent{
		font-size: 13px;
	}

	.card-percent img{
		max-width: 16px;
		width: 16px;
	}

	.card-line2 {
		font-size: 12px;
		padding-top: 13px;
	}

	.card-amount {
		font-size: 18px;
	}

	.card-unit {
		font-size: 12px;
	}
}

@media screen and (min-width: 1440px){
	.home .about-section .slider {
	    --height-img: 366px;
	}	

	.home .about-section .about-slider {
		height: 632px;
	}

	.card-dot {
		width: 39px;
		height: 39px;
	}

	.card-percent{
		font-size: 16px;
	}

	.card-percent img{
		max-width: 18px;
		width: 18px;
	}

	.card-line2 {
		font-size: 14px;
		padding-top: 16px;
	}

	.card-amount {
		font-size: 21px;
	}

	.card-unit {
		font-size: 14px;
	}
}

@media (min-width: 1600px){
	.home .about-section .slider {
	    --width-slide: 500px;
	    --height-img: 400px;
	    --slide-gap: 200px;
	}

	.home .about-section .about-slider {
		height: 690px;
	}

	.home .about-section .slider {

	}
}

@media screen and (max-width: 991px){
	.home .advisors-section .team-members{
		--columns-count: 1;
	}
	.home .advisors-section .team-members .member:nth-child(1),
	.home .advisors-section .team-members .member:nth-child(2),
	.home .advisors-section .team-members .member:nth-child(3),
	.home .advisors-section .team-members .member:nth-child(4){
		margin-top: 39px;
	}

	header .logo-wrap {
		margin: auto;
	}

	.home .hero-section{
		margin-top: var(--height-header);
	}

	header .logo-wrap .logo{
		margin-top: 0;
	}

	.home .hero-section .container {
	    align-items: flex-start;
	    flex-direction: column;
	    justify-content: flex-end;
	}

	.home .hero-section__content {
		max-width: 100%;
		margin-bottom: 30px;
	}

	.home .hero-section_buttons {
		width: 100%;
		flex-direction: column;
    	align-items: center;
    	margin-bottom: 21px;
	}

	.home .about-section .section-content .subtitle {
		max-width: 100%;
	}

	.home .about-section .section-content .content{
		max-width: 100%;
	}

	.home .about-section .section-content .content .sub-content img {		
		float: inherit;
	}

	.home .about-section .section-content .content .sub-content .intro{
		padding-left: 0;
	}

	.home .about-section .section-content .thumbnails {
		max-width: 100%;
	}	

	.home .about-section .section-content .headline .heading img {
		margin-top: 20px; 
	}

	.home .about-section .section-content .headline .heading img.img-mb {
		display: block;	
	}

	.home .about-section .section-content .headline .heading img.img-pc {
		display: none;
	}

	.home .about-section .about-slider .container .v-menu {
		position: relative;
		display: inline-flex;
    	width: 100%;
    	margin: 20px 0;
	}

	.home .about-section .slider-background {
		top: 110px;
	}


	.home .asset-card .card-item {
		--card-width: calc(var(--container-width));		
		--card-content-width: calc(var(--card-width) - 24px);
		--card-content-height: calc(var(--card-content-width) * (178/346));
	}

	.card-dot {
		width: 88px;
		height: 88px;
	}

	.card-percent{
		font-size: 36px;
	}

	.card-percent img{
		max-width: 42px;
		width: 42px;
	}

	.card-line2 {
		font-size: 32px;
		padding-top: 36px;
	}

	.card-amount {
		font-size: 50px;
	}

	.card-unit {
		font-size: 32px;
	}

	
	/*.home .roadmap .slider:after {
		content: '';
	}*/

	.home .roadmap {
		display: none;
	}

	.home .road-map .roadmap-mb {
    	display: block;
	}

	.heading img{
		margin: auto;
	}

	.home .tokenomics-section .chart img {
		margin-top: 20px;
	}

	.home .partners-section .partners-list.--coming-soon {
		--column-count: 2;
	}

	.footer .logo-col .logo img {		
    	max-width: 50vw;
    	width: 50vw;
    	margin-bottom: 60px;
	}

	.footer .inner {
		display: flow-root;
	}

	.footer .site-map-wrapper {
		display: flow-root;	
	}

	.footer-title {
		font-size: 34px;
	}

	.footer .site-map__item a, .footer .contact-row a, .footer .contact-form-wrapper input {
	   	font-size: 25px;
    	line-height: 55px;
	}

	.footer .footer-title {
	    margin-bottom: 10px;
    	margin-top: 40px;
    }

    .footer .copy-right {
    	font-size: 25px;
    	text-align: center;
    }
}

@media screen and (max-width: 767px){
	.card-dot {
		width: 65px;
		height: 65px;
	}

	.card-percent{
		font-size: 26px;
	}

	.card-percent img{
		max-width: 31px;
		width: 31px;
	}

	.card-line2 {
		font-size: 23px;
		padding-top: 26px;
	}

	.card-amount {
		font-size: 37px;
	}

	.card-unit {
		font-size: 23px;
	}

	.home .partners-section .partners-list.--coming-soon {
		--column-count: 1;
	}
}

@media screen and (max-width: 399px){
	.card-dot {
		width: 43px;
		height: 43px;
	}

	.card-percent{
		font-size: 17px;
	}

	.card-percent img{
		max-width: 20px;
		width: 20px;
	}

	.card-line2 {
		font-size: 15px;
		padding-top: 17px;
	}

	.card-amount {
		font-size: 24px;
	}

	.card-unit {
		font-size: 15px;
	}
}